<!DOCTYPE html>
<html>

<head>
    <title>SCRAP APP</title>

    <link rel="stylesheet" type="text/css" href="../libs/loading.css">
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
    <link href="../libs/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/design.css">
    <!-- Load icon font css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="../libs/jquery.min.js"></script>
    <script src="../libs/jquery.dataTables.min.js"></script>
    <script src="../libs/dataTables.bootstrap4.min.js"></script>
    <script src="../js/loading.js" differ></script>
    <script src="../js/emitLoading.js" differ></script>
</head>

<body>
    <nav class="py-1 navbar navbar-expand-lg navbar-light bg-danger">
        <div class="d-flex justify-content-center w-100">
            <a class="navbar-brand text-white ml-4 center" href="/"><b>Arco Kofax - Scrap App </b></a>
        </div>
        
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

            <div class="mr-5">
                <ul class="navbar-nav mr-auto mr-0">

                    <li class="nav-item">
                        <a href="/data"class="nav-link tex">Start Scrap</b></a>
                    </li>

                    <li class="nav-item"> 
                        <a class="nav-link text-white" href="/employee/search">scrap</a>
                    </li>
                </ul>
            </div>

        </div> -->
    </nav>
    <div class="container mt-5">
        <div class="d-flex justify-content-between w-100 mb-5">
            <div>
                <a href="/" class="btn btn-primary" id="refresh">
                    <i class="bi bi-house">
                        
                    </i>
                </a>
            </div>
            <div>
                <a href="/data" class="btn btn-success" id="startScrap" onclick="loading()">
                    <i class="bi-arrow-clockwise">
                        Scrap
                    </i>
                </a>
                <a href="/download" class="btn btn-primary">
                    <i class="bi-download">
                        
                    </i>
                    Download Data</a>
            </div>
        </div>
    </div>
