<%- include('partials/header') -%>
<!-- Loading div -->
<div class="loading" id="loding-div">
    <div>
        <h3>Scraping ... </h3>
    </div>
    <div class="loader" id="loadingAnimation"></div>
</div>

<!-- Table -->
<div class="container mt-5">
    <div class="d-flex justify-content-end w-100 mb-5">
        <div>
            <a href="/data" class="btn btn-primary" id="startScrap" onclick="loading()" scrapOn="alert('front awered of sraping')">Scrap Data</a>
            <a href="/download" class="btn btn-primary">Download Data</a>
        </div>
    </div>
    
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Index</th>
                <th>Batch</th>
                <th>Document</th>
                <th>Status</th>
            </tr>
        </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>

<%- include('partials/footer') -%>